* {
  box-sizing: border-box;
}

h2, p {
  margin: 0;
}

html,
body,
main {
  height: 100%;
  --tile-size: 32px;
  --font-size: 24px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
#top-row-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    margin: 0 2px;
  }
  > div {
    display: inline-block;
  }
  #mine-counter, #timer {
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 0 2px;
  }
  #mine-counter {
    margin-left: 0;
    padding: 0 4px;
  }
}

#playarea {
  max-height: 80vh;
  max-width: 800px;
  font-size: var(--font-size);
  overflow: auto;
  position: relative;
  border: 2px black solid;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  user-select: none;
  #column-nums {
    position: relative;
    top: 0;
    left: var(--tile-size);
    display: flex;
    flex-direction: row;
    height: var(--tile-size);
    width: calc(100% - var(--tile-size));
    > div {
      height: var(--tile-size);
      width: var(--tile-size);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      &:not(:first-child)::after {
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        height: calc(var(--tile-size) / 2);
        width: 2px;
        background-color: #000;
      }
    }
  }

  #playarea-bottom {
    display: flex;
    #row-nums {
      display: flex;
      flex-direction: column;
      height: calc(100% - var(--tile-size));
      width: var(--tile-size);
      overflow: hidden;
      flex-shrink: 0;
      > div {
        height: var(--tile-size);
        width: var(--tile-size);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:not(:first-child)::after {
          position: absolute;
          content: " ";
          right: 0;
          top: 0;
          width: calc(var(--tile-size) / 2);
          height: 2px;
          background-color: #000;
        }
      }
    }
    #board {
      height: calc(100% - var(--tile-size));
      position: relative;
      border: 1px solid black;
      > div {
        display: flex;
        > div {
          height: var(--tile-size);
          width: var(--tile-size);
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          flex-shrink: 0;
          overflow: hidden;
          &:not([data-clickable="false"]) {
            cursor: pointer;
          }
          &.wrong-tile {
            background-color: #F00A;
          }
        }
      }
      &.no-input > div > div {
        cursor: initial !important;
      }
    }
  }
  #win-overlay,
  #lose-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    background-color: #0006;
    color: #fff;
    transition: opacity 0.5s;
    opacity: 0;
    &.visible {
      visibility: visible;
      opacity: 1;
      .modal-main {
        top: 0px;
      }
    }
    &.fade {
      animation: fade 0.5s ease;
      visibility: hidden;
      .modal-main {
        animation: slide-out 0.5s;
      }
    }
  }
  #game-finished-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 32px;
    width: 32px;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000A;
  &.visible {
    visibility: visible;
    opacity: 1;
    .modal-main {
      top: 0px;
    }
  }
  &.fade {
    animation: fade 0.5s ease;
    visibility: hidden;
    .modal-main {
      animation: slide-out 0.5s;
    }
  }
  .modal-main {
    position: relative;
    transition: top 0.5s;
    top: 50px;
    .modal-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#foobar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 2px;
}

@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99.9% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    top: 0px;
  }
  99.9% {
    opacity: 0;
    top: -50px;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}