.text-center {
  text-align: center;
}

h2,
p {
  margin: 0;
}

input {
  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &[type="range"] {
    width: 100%;
  }
}

label {
  display: block;
}

button {
  appearance: none;
  border: 1px solid #767676;
  background-color: #EFEFEF;
  border-radius: 2px;

  &:hover:not(.hint-disabled, .active) {
    border-color: #4F4F4F;
    background-color: #E5E5E5;
  }

  &:active:not(.hint-disabled, .active) {
    border-color: hsl(0, 0%, 55%);
    background-color: hsl(0, 0%, 96%);
  }

  &.active {
    background-color: #ccc;
  }
}

.range-wrap {
  position: relative;
  margin: 0 0 24px;
}

.bubble {
  color: #000;
  padding: 1px 6px;
  position: absolute;
  border-radius: 4px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #000;
  background-color: #FFF;
}

.bubble::after {
  background: #000;
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  top: -1px;
  left: calc(50% - 1px);
}

:root {
  color-scheme: light;
}

body > main, 
body > aside {
  visibility: visible;
}

#loading-screen {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  padding: 4px 8px;
}

#top-row-nav {
  display: flex;
			justify-content: center;
			width: 100%;
  font-size: 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
  }

  >div {
    display: inline-block;
  }

  #mine-counter,
  #timer {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 0 2px;
    font-family: monospace;
  }

  #mine-counter {
    margin-left: 0;
    padding: 0 4px;
  }
}

#bottom-row-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    max-width: 100px;
    flex-grow: 1;
    font-size: 20px;
    margin: 0 6px;
  }
}

#playarea {
  max-height: calc(100% - 96px);
  max-width: 98vw;
  font-size: calc(0.75 * var(--tile-size));
  position: relative;
  border: 2px black solid;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  user-select: none;

  #column-nums {
    position: absolute;
    top: 8px;
    left: calc(var(--tile-size) + 5px);
    display: flex;
    flex-direction: row;
    height: var(--tile-size);
    width: calc(100% - 14px - var(--tile-size));
    padding-left: 2px;
    padding-right: var(--tile-size);
    overflow: hidden;
    border-bottom: 3px black solid;

    >div {
      height: var(--tile-size);
      width: var(--tile-size);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      padding-left: 2px;

      &:not(:first-child)::after {
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        height: calc(var(--tile-size) / 2);
        width: 2px;
        background-color: #000;
      }
    }
  }

  #row-nums {
    position: absolute;
    top: calc(8px + var(--tile-size));
    left: 8px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 16px - var(--tile-size));
    width: var(--tile-size);
    padding-bottom: var(--tile-size);
    overflow: hidden;
    flex-shrink: 0;
    border-right: 3px black solid;

    >div {
      height: var(--tile-size);
      width: var(--tile-size);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-right: 4px;

      &:not(:first-child)::after {
        position: absolute;
        content: " ";
        right: 0;
        top: -1px;
        width: calc(var(--tile-size) / 2);
        height: 2px;
        background-color: #000;
      }
    }
  }

  #board {
    position: relative;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin: var(--tile-size) 0 0 var(--tile-size);
    height: calc(100% - var(--tile-size));
    width: calc(100% - var(--tile-size));
    overflow: auto;

    &.no-scroll {
      touch-action: none;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #0001;
    }

    &::-webkit-scrollbar {
      height: 12px;
      width: 12px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
    }

    >div {
      display: flex;

      >div {
        height: var(--tile-size);
        width: var(--tile-size);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        flex-shrink: 0;
        overflow: hidden;

        &:first-child {
          border-left: none;
        }

        &:not([data-clickable="false"]) {
          cursor: pointer;
        }

        &.wrong-tile {
          background-color: #F00A;
        }

        >i {
          pointer-events: none;
        }
      }

      &:first-child>div {
        border-top: none;
      }
    }

    &.no-input>div>div {
      cursor: initial !important;
    }
  }

  #win-overlay,
  #lose-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000A;
    color: #fff;
    transition: opacity 0.5s;
    opacity: 0;

    button {
      margin: 4px 0;
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        margin-right: 8px;
      }
    }

    &.visible {
      visibility: visible;
      opacity: 1;

      .modal-main {
        top: 0px;
      }
    }

    &.fade {
      animation: fade 0.5s ease;
      visibility: hidden;

      .modal-main {
        animation: slide-out 0.5s;
      }
    }
  }
}

#modals {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #000A;
  transition: opacity 0.5s;
  pointer-events: none;
  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.fade {
    animation: fade 0.5s ease;
    visibility: hidden;
  }
  * {
    pointer-events: auto;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &.visible {
    visibility: visible;
    opacity: 1;

    .modal-main {
      top: 0px;
    }
  }

  &.fade {
    animation: fade 0.5s ease forwards;
    visibility: hidden;

    .modal-main {
      animation: slide-out 0.5s;
    }
  }

  .modal-main {
    position: relative;
    transition: top 0.5s;
    top: 50px;
    border: 1px black solid;
    border-radius: 12px;
    background-color: #fff;
    padding: 12px 32px 24px;
    max-width: 98vw;

    >h2 {
      margin-bottom: 12px;
      text-align: center;
    }

    .modal-x {
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: #888;
      }
    }
  }

  #menu-modal-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 248px;

    button {
      width: 120px;
      height: 100px;
      padding: 32px;
      margin: 2px;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
      }

      .btn-bottom-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 18px;
      }
    }
  }
}

#xyzzypixel {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 2px;
}

#newgamewarning-modal {
  .newgamewarning-btn {
    margin: 8px 16px 0;
    height: 32px;
    width: 100%;
    max-width: 100px;
  }
}

#howtoplay-modal {
  line-height: 20px;

  .modal-main {
    max-width: 600px;

    p {
      margin: 8px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#about-modal img {
  height: 96px;
}

#settings-modal-main,
#settings-customBoard {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 140px auto;
  grid-template-rows: auto;
  gap: 4px 0px;
}

#settings-customBoard {
  overflow: hidden;
  height: 0;
  transition: height 0.4s ease-out;

  &.open {
    height: auto;
  }
}

#settings-customBoard,
#settings-applywarning,
hr {
  grid-column-start: span 2;
}

#settings-applywarning {
  text-align: center;
  font-weight: 700;
  display: none;
}

#settings-modal input:not([type="range"]) {
  max-width: 100px;
}

#hint-btn {
  position: relative;

  &.hint-active {
    color: #34bdeb;
  }

  &.hint-disabled {
    background-color: #aaa;
  }

  &::after {
    content: attr(data-hints);
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 10px;
    font-size: 13px;
  }
}

#new-best-time {
  display: none;
}

// Breakpoints

@media only screen and (max-width: 419px) {

  #settings-modal-main,
  #settings-customBoard {
    grid-template-columns: auto;
  }

  #settings-customBoard,
  #settings-applywarning,
  hr {
    grid-column-start: initial;
  }
}

@media only screen and (max-width: 479px) {
  .desktop-only {
    display: none !important;
  }

  #newgame-btn {
    order: 1;
  }

  #timer,
  #hint-btn {
    order: 2;
  }
}

@media only screen and (min-width: 480px) {
  .mobile-only {
    display: none !important;
  }
}

// Animations

@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }

  99.9% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    top: 0px;
  }

  99.9% {
    opacity: 0;
    top: -50px;
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

// Auto/black themes

@media screen and (prefers-color-scheme: dark) {
  .auto {
    background-color: #202124;
    color: #CCC;
    color-scheme: dark;

    button {
      border: 1px solid #666;
      background-color: #444;
      color: #CCC;

      &:hover:not(.hint-disabled, .active) {
        border-color: #666;
        background-color: #515151;
      }

      &:active:not(.hint-disabled, .active) {
        border-color: #666;
        background-color: #393939;
      }

      &.active {
        background-color: #111;
      }
    }

    #top-row-nav {


      #mine-counter,
      #timer {
        border-color: #888;
      }
    }

    #playarea {
      border-color: #888;

      #column-nums {
        border-color: #888;

        >div:not(:first-child)::after {
          background-color: #888;
        }
      }

      #row-nums {
        border-color: #888;

        >div:not(:first-child)::after {
          background-color: #888;
        }
      }

      #board {
        border-color: #888;

        &::-webkit-scrollbar-track {
          background-color: #8881;
        }

        &::-webkit-scrollbar {
          background-color: #040404;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          background-color: #555;
        }

        &::-webkit-scrollbar-corner {
          background-color: #040404;
        }

        >div>div {
          border-color: #888;
        }
      }
    }

    .modal .modal-main {
      border-color: #888;
      background-color: #202124;

      .modal-x {
        color: #CCC;

        &:hover {
          color: #888;
        }
      }
    }

    .bubble {
      color: #CCC;
      border-color: #888;
      background-color: #202124;

      &::after {
        background-color: #888;
      }
    }

    input,
    select {
      background-color: #202124 !important;
      color: #CCC;
      border: 1px solid #666;
    }

    #hint-btn {
      &.hint-active {
        color: #34bdeb;
      }

      &.hint-disabled {
        background-color: #000;
        color: #888;
      }
    }

    #about-modal img {
      filter: invert(100%);
    }
  }
}

.dark {
  background-color: #202124;
  color: #CCC;
  color-scheme: dark;

  button {
    border: 1px solid #666;
    background-color: #444;
    color: #CCC;

    &:hover:not(.hint-disabled, .active) {
      border-color: #666;
      background-color: #515151;
    }

    &:active:not(.hint-disabled, .active) {
      border-color: #666;
      background-color: #393939;
    }

    &.active {
      background-color: #111;
    }
  }

  #top-row-nav {

    #mine-counter,
    #timer {
      border-color: #888;
    }
  }

  #playarea {
    border-color: #888;

    #column-nums {
      border-color: #888;

      >div:not(:first-child)::after {
        background-color: #888;
      }
    }

    #row-nums {
      border-color: #888;

      >div:not(:first-child)::after {
        background-color: #888;
      }
    }

    #board {
      border-color: #888;

      &::-webkit-scrollbar-track {
        background-color: #8881;
      }

      &::-webkit-scrollbar {
        background-color: #040404;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
      }

      &::-webkit-scrollbar-corner {
        background-color: #040404;
      }

      >div>div {
        border-color: #888;
      }
    }
  }

  .modal .modal-main {
    border-color: #888;
    background-color: #202124;

    .modal-x {
      color: #CCC;

      &:hover {
        color: #888;
      }
    }
  }

  .bubble {
    color: #CCC;
    border-color: #888;

    &::after {
      background-color: #888;
    }
  }

  input,
  select {
    background-color: #202124 !important;
    color: #CCC;
    border: 1px solid #666;
  }

  #hint-btn {
    &.hint-active {
      color: #34bdeb;
    }

    &.hint-disabled {
      background-color: #000;
      color: #888;
    }
  }

  #about-modal img {
    filter: invert(100%);
  }
}